---
const categories = ["Journals", "Posters", "Shirts", "Artwork", "Books", "Mugs"];
const filters = ["Color", "Category", "Size"];
---
<div class="w-full p-4">
  <h3 class="text-lg font-semibold mb-4">Categories</h3>
  <ul class="space-y-2">
    {categories.map(category => (
      <li><a href={`/shop/${category.toLowerCase()}`} class="">{category}</a></li>
    ))}
  </ul>
  {filters.map(filter => (
    <div class="mt-4">
      <h3 class="text-md font-medium flex justify-between items-center">
        {filter}
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20"><path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"/></svg>
      </h3>
    </div>
  ))}
</div>