---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import artEvolves from '../assets/images/art-evolves.png';
---

<span
  class="flex self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- <Image class="me-3" width="80" height="80" src={artEvolves} alt="Art Of The Diligent" />-->
  <!-- {SITE?.name} -->
  <span class="pt-3 text-2xl font-heading font-weight-bold" data-astro-source-file="C:/aberrant/artevolves/src/components/Logo.astro" data-astro-source-loc="11:44" style="
    font-weight: 800;
    line-height: 1.1;
">Art of the Diligent</span>
</span>
